.container header,
footer{
    background-color: #0D558B;
    color: #fff;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.container header h1{
    margin-left: 16px;
    font-family: 'Kanit', sans-serif;
}

.container header li{
    display: flex;
    display: inline;
    margin-right: 16px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

.container header li a{
    text-decoration: none;
    color:#fff
}

.container header li a:hover{
    text-decoration: underline;
}

.container header img{
    width: 100px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 20px;
}

.titulo{
    justify-content: space-between;
    text-align: center;
}

.conquistas h1,
.titulo h1,
#produtos h1{
    font-family: 'Kanit', sans-serif;
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 64px;
}

.conquistas h2{
    font-size: 18px;
    margin-top: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.conquistas h3{
    font-family: 'Kanit', sans-serif;
    font-size: 28px;
}

.conquistas{
    width: 1366px;
    margin: 0 auto;
}

.internacional,
.nacional{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.internacional img,
.nacional img{
    height: 300px;
}

.internacional header,
.nacional header{
    background-color: #0D558B;
    color: #fff;
    padding: 8px;
    display: inline-block;
    margin-top: 8px;
    width: 239px;
    text-align: center;
}

.internacional article,
.nacional article{
    padding: 8px;
}

.internacional article,
.nacional article{
    width: 18%;
}

.partidas img{
    height: 120px;
}

.partidas a{
    text-decoration: none;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
}

button{
    background-color: #0D558B;
    border: #0D558B;
    padding: 14px;
    margin-top: 16px;
    margin-left: 40px;
}

button:hover{
    background-color: #147fd2;
    cursor: pointer;
}

.partidas{
    display: flex;
    justify-content: space-between;
    width: 1366px;
    margin: 0 auto;
}

.partidas article{
    height: 30%;
}

.partidas h3{
    text-align: center;
}

.partidas header{
    text-align: center;
    margin-top: 8px;
}

#partidas h2{
    margin-bottom: 16px;
}

#produtos,
#produtos2{
    width: 1366px;
    margin: 0 auto;
}

.articleprod img{
    width: 300px;
}

.articleprod{
    display: flex;
    justify-content: space-between;
}

#produtos h1{
    text-align: center;
    margin-bottom: 45px;
}

#produtos a{
    color: #fff;
    text-decoration: none;
}

#produtos button{
    margin-top: 0;
    margin-left: 0;
    padding: 112px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
}

#tenis{
    margin-bottom: 78px;
}

#produtos2 img{
    width: 400px;
    margin-left: 470px;
}

#produtos2 h2{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    margin-top: 64px;
    margin-bottom: -75px;
}

#socio{
    width: 1366px;
    margin: 0 auto;
}

#socio h1{
    text-align: center;
    margin-bottom: 45px;
    font-size: 48px;
    font-family: 'Kanit', sans-serif;
}

#socio h2{
    font-size: 28px;
}

#socio .articlesoc{
    width: 600px;
    display: flex;
}

.articlesoc {
    text-align: center;
}

table{
    background-color: #147fd2;
    width: 300px;
}

footer{
    background-color: #0D558B;
    color: #fff;
}

footer img{
    width: 50px;
    margin-left: 18px;
    margin-bottom: 8px;
}

footer h1{
    margin-top: 0;
    margin-left: 16px;
    font-family: 'Kanit', sans-serif;
    font-weight: normal;
}

footer article{
    align-content: center;
}

footer blockquote{
    text-align: right;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}